{% extends "layout.twig" %}

{% block content %}
  <h1>{{ title }}</h1>
  <p class="muted">Slim + Twig töötab. Järgmine samm: broneerimisvaade.</p>

  <ul>
    <a href="/booking">Ava broneerimine</a>
    <li><a href="/admin?token=dev">Admin (ajutine)</a></li>
  </ul>
{% endblock %}
